node_modules
dist
.DS_Store
*.local
.dev.vars
.idea
*.iml
android/.gradle
android/app/build
android/build
android/captures
android/key.properties
*.jks
*.keystore
ios/App/Pods
ios/DerivedData
*.xcuserstate
*.aab
*.ipa
*.apk
.release/
*.zip
