node_modules
dist
.DS_Store
*.local
.dev.vars
.idea
*.iml
android/.gradle
android/app/build
android/build
android/captures
android/key.properties
*.jks
*.keystore
ios/App/Pods
ios/DerivedData
*.xcuserstate
*.aab
*.ipa
*.apk
.release/
*.zip

METROBUILDER_FINAL_RELEASE_3_0_0_WORK/
METROBUILDER_3_0_0_FINAL_RELEASE/
android/local.properties
